.navbar{
    background-color: antiquewhite;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  span{
    font-size: 20px;
    font-weight: bold;
    color: rgb(228, 21, 111);
  }